In [ ]:
#1 ques already done ,  Install Python and write the steps of installation and understand difference between scripting and
#interactive modes in IDLE

In [29]:
#2 ques Create a variable to store your age and print its type using type().
age = 20
print(type(age))

<class 'int'>

In [30]:
#3 ques Declare a string variable called x and assign it the value “Hello”.
#a. Print out the value of x
x = "Hello"
print(x)

Hello

In [31]:
#4 ques Take different data types and print values using print function
a = 10
b = 3.5
c = "Python"
d = True

print(a)
print(b)
print(c)
print(d)

10
3.5
Python
True

In [32]:
#5 ques Declare these variables (x, y and z) as integers. Assign a value of 9 to x, Assign a value of 7 to y, perform
#addition, multiplication, division and subtraction on these two variables and Print out the result.
x = 9
y = 7

print("Addition =", x + y)
print("Multiplication =", x * y)
print("Division =", x / y)
print("Subtraction =", x - y)

Addition = 16
Multiplication = 63
Division = 1.2857142857142858
Subtraction = 2

In [9]:
#6 ques Write a program to compute the length of the hypotenuse (c) of a right triangle using Pythagoras
#theorem.
a = float(input("Enter first side: "))
b = float(input("Enter second side: "))

c = (a*a + b*b) ** 0.5

print("Hypotenuse =", c)

Enter first side: 30
Enter second side: 40
Hypotenuse = 50.0

In [10]:
#7 ques Write a program to find simple interest.
p = float(input("Enter principal: "))
r = float(input("Enter rate: "))
t = float(input("Enter time: "))

si = (p * r * t) / 100

print("Simple Interest =", si)

Enter principal: 21.2
Enter rate: 20
Enter time: 10
Simple Interest = 42.4

In [11]:
#8 ques (using importing maths) Write a program to find area of triangle when length of sides are given
import math

a = float(input("Enter side 1: "))
b = float(input("Enter side 2: "))
c = float(input("Enter side 3: "))

s = (a + b + c) / 2

area = math.sqrt(s * (s - a) * (s - b) * (s - c))

print("Area of triangle =", area)

Enter side 1: 30
Enter side 2: 40
Enter side 3: 50
Area of triangle = 600.0

In [12]:
#8 ques (without using importing maths) Write a program to find area of triangle when length of sides are given
a = float(input("Enter side 1: "))
b = float(input("Enter side 2: "))
c = float(input("Enter side 3: "))

s = (a + b + c) / 2

area = (s * (s - a) * (s - b) * (s - c)) ** 0.5

print("Area of triangle =", area)

Enter side 1: 20
Enter side 2: 30
Enter side 3: 40
Area of triangle = 290.4737509655563

In [17]:
#9 ques Write a program to convert given seconds into hours, minutes and remaining seconds
seconds = int(input("Enter seconds: "))

hours = seconds // 3600
minutes = (seconds % 3600) // 60
remaining = seconds % 60

print("Hours =", hours)
print("Minutes =", minutes)
print("Seconds =", remaining)

Enter seconds: 5839
Hours = 1
Minutes = 37
Seconds = 19

In [18]:
#10 ques Write a program to swap two numbers without taking additional variable.

a = int(input("Enter first number: "))
b = int(input("Enter second number: "))

a = a + b
b = a - b
a = a - b

print("After swapping:")
print("a =", a)
print("b =", b)

Enter first number: 10
Enter second number: 20
After swapping:
a = 20
b = 10

In [21]:
#11 ques Write a program to find sum of first n natural numbers.
n = int(input("Enter value of n: "))

sum = 0

for i in range(1, n + 1):
    sum = sum + i

print("Sum =", sum)

Enter value of n: 5
Sum = 15

In [22]:
#12 ques Write a program to print truth table for bitwise operators (&, | and ^ operators)
print("A B A&B A|B A^B")

for i in range(2):
    for j in range(2):
        print(i, j, i & j, i | j, i ^ j)

A B A&B A|B A^B
0 0 0 0 0
0 1 0 1 1
1 0 0 1 1
1 1 1 1 0

In [25]:
#13 ques Write a program to find left shift and right shift values of a given number.
num = int(input("Enter a number: "))
shift = int(input("Enter shift value: "))

print("Left Shift =", num << shift)
print("Right Shift =", num >> shift)

Enter a number: 23
Enter shift value: 14
Left Shift = 376832
Right Shift = 0

In [28]:
#14 ques Using membership operator find whether a given number is in sequence (10,20,56,78,89)
num = int(input("Enter a number: "))

seq = (10, 20, 56, 78, 89)

print(num in seq)

Enter a number: 20
True